<h1>PAGINA PRINCIAL DE CLIENTES</h1>

<!--
<button (click)="addCliente()">Add cliente</button>
<button (click)="removeCliente()">Add cliente</button>
<input type="text" [(ngModel)]="txtValor">
-->
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Numero Documento</th>
        <th>Nombres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.tipo }}</td>
        <td>{{ cliente.numero_documento }}</td>
        <td>{{ cliente.nombres }}</td>
      </tr>
    </tbody>
  </table>
  
<!--
  <h2>el valor del text es {{txtValor}}</h2>
-->